{% extends "admin/base.html" %} 
{% load i18n static %} 

{% block branding %}
<h1 id="site-name" style="display:inline">
	<a href="{% url 'admin:index' %}">Manager Page</a>
</h1>
{% endblock %}

{% block content%}


<table class="table table-hover table-responsive">
  <thead class="thead-dark">
    <tr>
      <th class='text-left' scope="col">Airline</th>
      <th class='text-center' scope="col">Flight Number</th>
      <th class='text-center' scope="col">Status</th>
      <th class='text-center' scope="col">Origin</th>
      <th class='text-center' scope="col">Destination</th>
      <th class='text-center' scope="col">Departing Time</th>
      <th class='text-center' scope="col">Arrival Time</th>
      <th class='text-center' scope="col">Arrive Day</th>
      <th class='text-center' scope="col">Number of Stops</th>
      <th class='text-center' scope="col">Working Days</th>
      <th class='text-center' scope="col">Number of Seats</th>
      <th class='text-center' scope="col">Fare</th>
      <th class='text-right' scope="col">Fare Restriction</th>
    </tr>
  </thead>
  <tbody>
    {% for flight in flights%}
    <tr>
      <td class='text-center'>{{flight.airline_id}}</td>
      <td class='text-center'>{{flight.id}}</td>
      <td class='text-success text-center'>On Time</td>
      <td class='text-center'>{{flight.src_airport}}</td>
      <td class='text-center'>{{flight.dst_airport}}</td>
      <td class='text-center'>{{flight.src_time}}</td>
      <td class='text-center'>{{flight.dst_time}}</td>
      <td class='text-center'>{{flight.arrive_day}}</td>
      <td class='text-center'>{{flight.num_of_stops}}</td>
      <td class='text-center'>{{flight.working_days}}</td>
      <td class='text-center'>{{flight.num_of_seats}}</td>
      <td class='text-center'>{{flight.fare}}</td>
      <td class='text-right'>{{flight.fare_restriction}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content%}