{% extends "admin/base.html" %}
{% load i18n static %}

{% block branding %}
<h1 id="site-name" style="display:inline">
	<a href="{% url 'admin:index' %}">Manager Page</a>
</h1>
{% endblock %}s

{% block content %}
<form method="GET">
<label>Year:</label></br>
<input name="year" type="text"></input></br>
<label>Month:</label></br>
<input name="month" type="text"></input></br></br>
<button type="submmit">SUBMIT</button>
</form></br></br>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
	  <th scope="col">Airline Name</th>
	  <th scope="col">Day of Month</th>
	  <th scope="col">Number of Reservations</th>
	  <th scope="col">Revenue</th>

    </tr>
  </thead>
	{% for a in tuples %}
  <tbody>
	  <td>{{a.1}}</td>
	  <td>{{a.0}}</td>
	  <td>{{a.3}}</td>
	  <td>{{a.2}}</td>
  </tbody>
  {% endfor %}
</table>

{% endblock %}
