{% extends "admin/base.html" %}
{% load i18n static %}

{% block branding %}
<h1 id="site-name" style="display:inline">
	<a href="{% url 'admin:index' %}">Manager Page</a>
</h1>
{% endblock %}

{% block content %}
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
	  <th scope="col">Flight number</th>
	  <th scope="col">Est departure time</th>
	  <th scope="col">Real departure time</th>
	  <th scope="col">Est arrival time</th>
	  <th scope="col">Real arrival time</th>
	  <th scope="col">O/D</th>
   </tr>
  </thead>
	{%for a in tuples %}
  <tbody>
	  <td>{{a.2}}{{a.3}}</td>
	  <td>{{a.0}}</td>
	  <td>{{a.4}}</td>
	  <td>{{a.1}}</td>
	  <td>{{a.5}}</td>
	  <td>{{a.6}}</td>
  </tbody>
  {% endfor %}
</table>

{% endblock %}
