<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<style>
body, html {
    margin-top:50px;

}
button {
    margin-left:2px;

}

</style>
<html>
<body>
    <form method="POST">{% csrf_token %}
    {% for i in range %}
    <fieldset>
        <legend><strong> Traveler {{forloop.counter}} </strong></legend>
        <label class="name" name="first-name-label">First name</label></br>
        <input type="text" name="first_name{{forloop.counter0}}" class="name" placeholder=""></br>
        <label class="name" name="last_name-label">Last name</label></br>
        <input type="text" name="last_name{{forloop.counter0}}" class="name" placeholder="" ></br>

    </fieldset>
    {% endfor %}
    <div>
        <button type="submit"> CONFIRM YOUR BOOKING</button>
    </div>
    </form>


</body>
</html>
{% endblock content %}
